[hosts-shwan-update]
action=update-vdom
hosts=/etc/hosts.example
dest_host=ship-fortigate
dest_vdoms=sh-wan
dest_token=abcdefg
dest_verify=False

[shwan-shh1-update]
action=sync-vdom
source_host=ship-fortigate
source_vdom=sh-wan
source_token=abcdefg
source_verify=False
dest_host=hub-fortigate
dest_vdoms=sh-h1
dest_token=abcdefg
dest_verify=False
firewall_address=sh-*
firewall_addrgrp=sh-high-priority-devices,sh-low-priority-devices,sh-ship-all-networks
application_group=sh-high-priority-apps,sh-low-priority-apps
