config system sdwan
	set status enable
    config zone
       	edit "hub-shore"
        next
        edit "hub-cell"
        next
        edit "hub-vsata"
        next
        edit "hub-vsatb"
        next
        edit "hub-lband"
        next
        edit "hub-stara"
        next
        edit "hub-starb"
        next
    end
    config members
        edit 1
        	set interface "{{all_r2rname}}-h1-shore"
            set zone "hub-shore" 
            set cost 10
        next
        edit 2
        	set interface "{{all_r2rname}}-h1-cell"
            set zone "hub-cell"
            set cost 20
        next
        edit 3
        	set interface "{{all_r2rname}}-h1-vsata"
            set zone "hub-vsata"
            set cost 50
        next
        edit 4
        	set interface "{{all_r2rname}}-h1-vsatb"
            set zone "hub-vsatb"
            set cost 60
        next
        edit 5
        	set interface "{{all_r2rname}}-h1-lband"
            set zone "hub-lband"
            set cost 70
        next
        edit 6
        	set interface "{{all_r2rname}}-h1-stara"
            set zone "hub-stara"
            set cost 30
        next
        edit 7
        	set interface "{{all_r2rname}}-h1-starb"
            set zone "hub-starb"
            set cost 40
        next    
    end
end
