#set IP of management interface
config system interface
	edit "{{shroot_mgmt_interface}}"
    	set vdom "root"
        set mode static
        set role undefined
        set ip {{shroot_mgmt_ipmask}}
    next
end
#set default router for management interface
config router static
	edit 1
    	set dst 0.0.0.0/0
        set device "{{shroot_mgmt_interface}}"
        set gateway {{shroot_mgmt_default_gateway}}
    next
end
