config router bgp
    set as {{all_bgp_as}}
    set router-id {{shwan_loopback_ip}}
    set keepalive-timer 5
    set holdtime-timer 360
    set ibgp-multipath enable
    set additional-path enable
    set recursive-next-hop enable
    set scan-time 0
    config neighbor
    #shlan neighbor
    	edit "{{shvdomlink_lan_ip}}"
			set advertisement-interval 1
            set activate6 disable
            #push default route to sh-lan
            set capability-default-originate enable
            set capability-graceful-restart enable
            set link-down-failover enable
            set next-hop-self enable
            set soft-reconfiguration enable
            set interface "{{shvdomlink_name}}0"
            set remote-as {{all_bgp_as}}
        next
		#all hub1 neighbors
        edit "{{all_overlay_prefix}}.101.253"
            set advertisement-interval 1
            set activate6 disable
            set capability-graceful-restart enable
            set link-down-failover enable
            set next-hop-self enable
            set soft-reconfiguration enable
            set interface "{{all_r2rname}}-h1-shore"
            set remote-as {{all_bgp_as}}
            set route-reflector-client enable
        next
        edit "{{all_overlay_prefix}}.102.253"
            set advertisement-interval 1
            set activate6 disable
            set capability-graceful-restart enable
            set link-down-failover enable
            set next-hop-self enable
            set soft-reconfiguration enable
            set interface "{{all_r2rname}}-h1-cell"
            set remote-as {{all_bgp_as}}
            set route-reflector-client enable
        next
        edit "{{all_overlay_prefix}}.103.253"
            set advertisement-interval 1
            set activate6 disable
            set capability-graceful-restart enable
            set link-down-failover enable
            set next-hop-self enable
            set soft-reconfiguration enable
            set interface "{{all_r2rname}}-h1-vsata"
            set remote-as {{all_bgp_as}}
            set route-reflector-client enable
        next
        edit "{{all_overlay_prefix}}.104.253"
            set advertisement-interval 1
            set activate6 disable
            set capability-graceful-restart enable
            set link-down-failover enable
            set next-hop-self enable
            set soft-reconfiguration enable
            set interface "{{all_r2rname}}-h1-vsatb"
            set remote-as {{all_bgp_as}}
            set route-reflector-client enable
        next
        edit "{{all_overlay_prefix}}.105.253"
            set advertisement-interval 1
            set activate6 disable
            set capability-graceful-restart enable
            set link-down-failover enable
            set next-hop-self enable
            set soft-reconfiguration enable
            set interface "{{all_r2rname}}-h1-lband"
            set remote-as {{all_bgp_as}}
            set route-reflector-client enable
        next
        edit "{{all_overlay_prefix}}.106.253"
            set advertisement-interval 1
            set activate6 disable
            set capability-graceful-restart enable
            set link-down-failover enable
            set next-hop-self enable
            set soft-reconfiguration enable
            set interface "{{all_r2rname}}-h1-stara"
            set remote-as {{all_bgp_as}}
            set route-reflector-client enable
        next
        edit "{{all_overlay_prefix}}.107.253"
            set advertisement-interval 1
            set activate6 disable
            set capability-graceful-restart enable
            set link-down-failover enable
            set next-hop-self enable
            set soft-reconfiguration enable
            set interface "{{all_r2rname}}-h1-starb"
            set remote-as {{all_bgp_as}}
            set route-reflector-client enable
        next
		#all hub2 neighbors
        edit "{{all_overlay_prefix}}.201.253"
            set advertisement-interval 1
            set activate6 disable
            set capability-graceful-restart enable
            set link-down-failover enable
            set next-hop-self enable
            set soft-reconfiguration enable
            set interface "{{all_r2rname}}-h2-shore"
            set remote-as {{all_bgp_as}}
            set route-reflector-client enable
        next
        edit "{{all_overlay_prefix}}.202.253"
            set advertisement-interval 1
            set activate6 disable
            set capability-graceful-restart enable
            set link-down-failover enable
            set next-hop-self enable
            set soft-reconfiguration enable
            set interface "{{all_r2rname}}-h2-cell"
            set remote-as {{all_bgp_as}}
            set route-reflector-client enable
        next
        edit "{{all_overlay_prefix}}.203.253"
            set advertisement-interval 1
            set activate6 disable
            set capability-graceful-restart enable
            set link-down-failover enable
            set next-hop-self enable
            set soft-reconfiguration enable
            set interface "{{all_r2rname}}-h2-vsata"
            set remote-as {{all_bgp_as}}
            set route-reflector-client enable
        next
        edit "{{all_overlay_prefix}}.204.253"
            set advertisement-interval 1
            set activate6 disable
            set capability-graceful-restart enable
            set link-down-failover enable
            set next-hop-self enable
            set soft-reconfiguration enable
            set interface "{{all_r2rname}}-h2-vsatb"
            set remote-as {{all_bgp_as}}
            set route-reflector-client enable
        next
        edit "{{all_overlay_prefix}}.205.253"
            set advertisement-interval 1
            set activate6 disable
            set capability-graceful-restart enable
            set link-down-failover enable
            set next-hop-self enable
            set soft-reconfiguration enable
            set interface "{{all_r2rname}}-h2-lband"
            set remote-as {{all_bgp_as}}
            set route-reflector-client enable
        next
        edit "{{all_overlay_prefix}}.206.253"
            set advertisement-interval 1
            set activate6 disable
            set capability-graceful-restart enable
            set link-down-failover enable
            set next-hop-self enable
            set soft-reconfiguration enable
            set interface "{{all_r2rname}}-h2-stara"
            set remote-as {{all_bgp_as}}
            set route-reflector-client enable
        next
        edit "{{all_overlay_prefix}}.207.253"
            set advertisement-interval 1
            set activate6 disable
            set capability-graceful-restart enable
            set link-down-failover enable
            set next-hop-self enable
            set soft-reconfiguration enable
            set interface "{{all_r2rname}}-h2-starb"
            set remote-as {{all_bgp_as}}
            set route-reflector-client enable
        next
    end
    #end neighbor
    config network
    	#announce ship lan vdom loopback
        edit 1
        	set prefix 192.168.255.4 255.255.255.255
        next
	#annouce ship specific lans
        #boilerplate
    	#announce my loopback
    	edit 1000
        	set prefix {{shwan_loopback_ip}} 255.255.255.255
        next
        #announce vdom link
        edit 1001
        	set prefix {{shvdomlink_wan_ip}} {{shvdomlink_wan_mask}}
        next
    end
end
