config system settings
set gui-advanced-policy enable
set gui-antivirus enable
#set gui-ap-profile enable
set gui-application-control enable
#set gui-casb enable
set gui-dhcp-advanced enable
#set gui-dlp-profile enable
set gui-dns-database enable
set gui-dnsfilter enable
#set gui-dos-policy enable
set gui-dynamic-device-os-id enable
set gui-dynamic-routing enable
#set gui-email-collection enable
set gui-enforce-change-summary disable
#set gui-explicit-proxy enable
#set gui-file-filter enable
#set gui-icap disable
set gui-implicit-policy enable
set gui-ips enable
set gui-multicast-policy enable
set gui-multiple-interface-policy enable
set gui-object-colors enable
#set gui-ot disable
set gui-policy-based-ipsec enable
set gui-policy-disclaimer enable
#set gui-proxy-inspection enable
set gui-route-tag-address-creation enable
set gui-security-profile-group enable
#set gui-spamfilter enable
#set gui-switch-controller enable
set gui-threat-weight enable
set gui-traffic-shaping enable
#set gui-videofilter enable
#set gui-virtual-patch-profile enable
#set gui-voip-profile enable
#set gui-waf-profile enable
set gui-wan-load-balancing enable
#set gui-webfilter enable
#set gui-webfilter-advanced enable
end
