config system sdwan
	config health-check
    	#delete "Default_DNS"
        #delete "Default_FortiGuard"
        #delete "Default_Gmail"
        #delete "Default_Google Search"
        #delete "Default_Office_365"
        edit "arf74internet"
        	set server "8.8.8.8"
        	set interval 5000
        	set probe-timeout 2500
        	set recoverytime 2
        	set probe-count 5
        	set sla-fail-log-period 5
        	set sla-pass-log-period 5
        	set threshold-warning-packetloss 5
        	set threshold-alert-packetloss 15
       		set threshold-warning-latency 800
        	set threshold-alert-latency 1000
        	set members 0
        	config sla
            	edit 1
                	set link-cost-factor latency packet-loss
                	set latency-threshold 1000
                	set packetloss-threshold 15
            	next
        	end
    	next
    end
end
