#configure VLAN trunk
config system interface
	edit "trunk"
    	set vdom "root"
        unset mode
        unset ip
        set role undefined
        set type {{shglobal_trunk_type}}
        set member {{shglobal_trunk_member}}
    next
end
