config system global
	set autorun-log-fsck enable
	set admintimeout {{shglobal_admintimeout}}
	set timezone Etc/GMT
	set cli-audit-log enable
	set interface-subnet-usage disable
	set vdom-mode multi-vdom
end
