config system sdwan
    config service
        edit 2
            set name "remote-to-ship"
      	    set mode sla
            set dst "en-ship-local-networks"
            set src "all"
            config sla
                edit "arf74ship"
                    set id 1
                next
            end
            set priority-members 1 2 3 4 5 6 7
        next
    end
end
