#FortiAnalyzer 1 is the ship, for Security Fabric
config log fortianalyzer setting
	set status enable
	set serial {{shglobal_ship_faz_serial}}
	set server {{shglobal_ship_faz_hostname}}
	set reliable enable
end
#FortiAnalyzer 2 is the hub
config log fortianalyzer2 setting
	set status enable
	set serial {{shglobal_hub_faz_serial}}
	set server {{shglobal_hub_faz_hostname}}
	set reliable enable
end
