config system global
	set gui-app-detection-sdwan enable
	set gui-auto-upgrade-setup-warning disable
	set gui-date-format yyyy-MM-dd
	set gui-display-hostname enable
	set gui-firmware-upgrade-warning disable
	set gui-forticare-registration-setup-warning disable
	set gui-replacement-message-groups enable
end
