#This file MUST be SKIPPED during initial setup, since
#the referenced underlay WAN interfaces will not exist yet!
config system ddns
	edit 1
    	set ddns-server FortiGuardDDNS
        set use-public-ip enable
        set update-interval 300
        set monitor-interface "{{all_r2rname}}-ul-shore"
        set ddns-domain "arf-{{all_r2rname}}-wan-shore.fortiddns.com"
    next
    edit 2
    	set ddns-server FortiGuardDDNS
        set use-public-ip enable
        set update-interval 300
        set monitor-interface "{{all_r2rname}}-ul-cell"
        set ddns-domain "arf-{{all_r2rname}}-wan-cell.fortiddns.com"      
    next
    edit 3
    	set ddns-server FortiGuardDDNS
        set use-public-ip enable
        set update-interval 300
        set monitor-interface "{{all_r2rname}}-ul-vsata"
        set ddns-domain "arf-{{all_r2rname}}-wan-vsata.fortiddns.com"  
    next
    edit 4
    	set ddns-server FortiGuardDDNS
        set use-public-ip enable
        set update-interval 300
        set monitor-interface "{{all_r2rname}}-ul-vsatb"
        set ddns-domain "arf-{{all_r2rname}}-wan-vsatb.fortiddns.com"
    next
    edit 5
    	set ddns-server FortiGuardDDNS
        set use-public-ip enable
        set update-interval 300
        set monitor-interface "{{all_r2rname}}-ul-lband"
        set ddns-domain "arf-{{all_r2rname}}-wan-lband.fortiddns.com"
    next
    edit 6
    	set ddns-server FortiGuardDDNS
        set use-public-ip enable
        set update-interval 300
        set monitor-interface "{{all_r2rname}}-ul-stara"
        set ddns-domain "arf-{{all_r2rname}}-wan-stara.fortiddns.com"      
    next
    edit 7
    	set ddns-server FortiGuardDDNS
        set use-public-ip enable
        set update-interval 300
        set monitor-interface "{{all_r2rname}}-ul-starb"
        set ddns-domain "arf-{{all_r2rname}}-wan-starb.fortiddns.com"      
    next
end
