config system settings
	set gui-advanced-policy enable
    set gui-advanced-wireless-features enable
    set gui-fortiap-split-tunneling enable
    set gui-fortiextender-controller enable
    set gui-wireless-controller enable
end
